<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
<br/>
<!--
<div *ngIf="item">
  <h2>{{item.name}} details!</h2>
  <div  class="form-group">
    <label>SKU: </label>{{item.sku}}
  </div>
  <div  class="form-group">
    <label>Name: </label>
    <input [(ngModel)]="item.name" placeholder="name" class="form-control"/>
    <label class="error">{{errorMessage}}</label>
  </div>
  <div  class="form-group">
    <label>Description: </label>
    <input [(ngModel)]="item.description" placeholder="description" class="form-control"/>
    <label class="error">{{errorMessage}}</label>
   </div>
  <div  class="form-group">
    <label>Price: </label>
    <input [(ngModel)]="item.price" placeholder="price" class="form-control"/>
    <label class="error">{{errorMessage}}</label>
  </div>
  <img src="{{item.picture}}" alt="Item picture" width="500"/>
  <div  class="form-group">
    <label>Picture: </label>
    <input [(ngModel)]="item.picture" placeholder="picture" class="form-control"/>
    <label class="error">{{errorMessage}}</label>
  </div>
  <div  class="form-group">
    <label>Category: </label>
    <input [(ngModel)]="item.category" placeholder="category" width=50 class="form-control"/>
    <label class="error">{{errorMessage}}</label>
  </div>
  <button type="submit" (click)="tryUpdate()">Save</button>
  <button (click)="goBack()">Back</button>
  <label class="success">{{successMessage}}</label>
  </div>
  -->

  <app-item-form></app-item-form>


